    html, body {
        margin: 0;
        height: 100%;
        width: 100%;
        
    }
    .frame {
        background-color: #d6e2f0ff;
        width: 100%;
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

   .QR-holder {
    background-color: #ffffff;
    width: 20em;
    height: 30em; 
    border-radius: 20px;
    margin: 10em auto;
   }

   h1 {
    font-size: 20px;
    font-weight: 700;
    margin: 20px auto;
    text-align: center;
    padding: 0 30px;
    color: #1f3251ff;
   }

   p{
    font-size: 15px;
    margin: 20px auto;
    text-align: center;
    padding: 0 30px;
    font-weight: 400;
    color: #68778dff;
   }

   h1, p {
    font-family: Outfit, sans-serif;
   }
    
   img {
    display: block;
    width: 18em;
    margin: 15px auto;
    border-radius: 20px;
   }
    
    .attribution { 
        font-size: 11px; 
        text-align: center;
        display: block;
        margin: 5em 0 -5em 0;
        
     }
    .attribution a { color: hsl(228, 45%, 44%); }