    html, body {
        margin: 0;
        height: 100%;
        width: 100%;
        
    }
    .frame {
        background-color: #d6e2f0ff;
        width: 100%;
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

   .QR-holder {
    background-color: #ffffff;
    width: 400px;
    height: 600px; 
    border-radius: 20px;
    margin: auto;
   }

   h1 {
    font-size: 25px;
    margin: 20px auto;
    text-align: center;
    padding: 0 35px;
    color: #1f3251ff;
   }

   p{
    font-size: 20px;
    margin: 20px auto;
    text-align: center;
    padding: 0 40px;
    font-weight: 400;
    color: #68778dff;
   }

   h1, p {
    font-family: Outfit;
   }
    
   img {
    display: block;
    width: 370px;
    margin: 15px auto;
    border-radius: 20px;
   }
    
    .attribution { 
        font-size: 11px; 
        text-align: center;
        display: block;
        margin-top: auto;
        padding: 12px 0;
     }
    .attribution a { color: hsl(228, 45%, 44%); }