
    
    body {
        margin: 0;
    }

    main {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }

    .frame {
        background-color: #d4e0ee;
        width: 1400px;
        height: 650px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

   .QR-holder {
    background-color: #ffffff;
    width: 300px;
    height: 450px; 
    border-radius: 10px;
    
   }

   h1 {
    font-size: 20px;
    margin: 20px auto;
    text-align: center;
   }

   p{
    font-size: 15px;
    margin: 20px auto;
    text-align: center;
    padding: 0 25px;
   }
    
   img {
    display: block;
    width: 270px;
    margin: auto;
    border-radius: 10px;
    margin-top: 15px;
   }
    
    .attribution { 
        font-size: 11px; 
        text-align: center;
        display: inline-block }
    .attribution a { color: hsl(228, 45%, 44%); }